<form [formGroup]="registerForm" class="form" (ngSubmit)="submitRegisterForm(registerForm.value)" novalidate>
  <div class="input-field form-group">
    <input class="input" formControlName="firstName" placeholder="First Name" />
    <div *ngIf="registerForm.controls.firstName.errors?.required && registerForm.controls.firstName.touched" class="validation-error">
      First Name is required
    </div>
  </div>
  <div class="input-field form-group">
    <input class="input" formControlName="lastName" placeholder="Last Name" />
    <div *ngIf="registerForm.controls.lastName.errors?.required && registerForm.controls.lastName.touched" class="validation-error">
      Last Name is required
    </div>
  </div>
  <div class="input-field form-group">
    <input class="input" formControlName="email" placeholder="Email Address" />
    <div *ngIf="registerForm.controls.email.errors?.required && registerForm.controls.email.touched" class="validation-error">
      Email Address is required
    </div>
  </div>
  <div class="input-field form-group">
    <input class="input" formControlName="confirmEmail" placeholder="Confirm Email Address" />
    <div *ngIf="registerForm.controls.confirmEmail.errors?.required && registerForm.controls.confirmEmail.touched" class="validation-error">
      Please confirm your email
    </div>
  </div>
  <div class="input-field form-group">
    <input class="input" formControlName="password" placeholder="Password" type="password" />
    <div *ngIf="registerForm.controls.password.errors?.required && registerForm.controls.password.touched" class="validation-error">
      Password is required
    </div>
  </div>
  <div class="input-field form-group">
    <input class="input" formControlName="confirmPassword" placeholder="Confirm Password" type="password" />
    <div *ngIf="registerForm.controls.confirmPassword.errors?.required && registerForm.controls.confirmPassword.touched" class="validation-error">
      Please confirm your password
    </div>
  </div>
  <div class="button-container">
    <button class="button" type="submit">
      Register
    </button>
  </div>
</form>
