<div class="water-color-container">
  <div class="content-container">
    <div class="header-text">FORGOT PASSWORD</div>
    <div class="dots-short">
      <img ng-src="/images/dots-short.png"/>
    </div>
    <div class="copy-text">We&#39;ll send you a link to reset your password</div>
  </div>
</div>
<form name="login.forgotPasswordForm"
      ng-submit="login.submitForgotPassword()"
      novalidate
      class="login-form-container">

  <div class="submit-error" ng-show="login.forgotPasswordError">
    {{ login.forgotPasswordError }}
  </div>
  <div class="submit-success" ng-show="login.forgotPasswordResponse">
    {{ login.forgotPasswordResponse }}
  </div>
  <div class="input-field">
    <input name="emailAddress"
           type="email"
           ng-model="login.forgotPassword.emailAddress"
           class="form-box"
           placeholder="Email Address"
           maxLength="40"
           ng-maxlength="40"
           email-validation
           required/>
    <div ng-messages="login.forgotPasswordForm.emailAddress.$touched && login.forgotPasswordForm.emailAddress.$error"
         role="alert">
      <ng-messages-include src="views/login/login-errors.html"></ng-messages-include>
    </div>
  </div>

  <div class="recaptcha-container" vc-recaptcha on-create="login.setWidgetId(widgetId)"></div>
  <div class="center-text">Having trouble? Call us at 1&#8209;877&#8209;BLOOMS3</div>

  <button type="submit"
          ng-disabled="login.forgotPasswordForm.$invalid || login.disableSubmit || !login.recaptchaLoaded"
          class="basic-button secondary-font reset-button">Reset Password
  </button>
  <div class="login-links">
    <a ng-click="login.toggleView()">Login</a>
    <a class="primary-link" ng-click="login.toggleForgotPassword()">Create an Account</a>
  </div>
</form>
