<div class="water-color-container">
  <div class="content-container">
    <div class="header-text">LOG IN</div>
    <div class="dots-short">
      <img [src]="/images/dots-short.png"/>
    </div>
    <div class="copy-text">Welcome Back to Blooms!</div>
  </div>
</div>
<form class="login-form-container" name="login.loginForm"
      (submit)="submitLogin()"
      novalidate>
  <div id="login-error" class="submit-error" [hidden]="login.loginError">
    {{ login.loginError }}
  </div>
  <!-- TODO Need pull in dots image and email-validation directive -->
  <!-- TODO Need to find alternative to ngMessages -->
  <div class="input-field">
    <input name="emailAddress"
           type="email"
           [(ngModel)]="login.username"
           class="form-box"
           placeholder="Email Address"
           maxlength="40"
           email-validation
           required/>
    <div ng-messages="login.loginForm.emailAddress.$touched && login.loginForm.emailAddress.$error" role="alert">
      <ng-messages-include src="views/login/login-errors.html"></ng-messages-include>
    </div>
  </div>

  <div class="input-field">
    <input name="password"
           type="password"
           [(ngModel)]="login.login.password"
           class="form-box"
           placeholder="Password"
           maxlength="25"
           required/>
    <div ng-messages="login.loginForm.password.$touched && login.loginForm.password.$error" role="alert">
      <ng-messages-include src="views/login/login-errors.html"></ng-messages-include>
    </div>
  </div>
  <div class="button-container">
    <div class="spinner-shade" [hidden]="loadingTracker.active()"></div>
    <button type="submit"
            [disabled]="login.loginForm.$invalid || login.disableSubmit"
            class="basic-button secondary-font">Log In
    </button>
  </div>
  <div class="login-links">
    <a (ngClick)="login.toggleForgotPassword()">Forgot Password?</a>
    <a (ngClick)="login.toggleView()">Create an Account</a>
  </div>
  <div id="login-guest-link" class="guest-link" [hidden]="login.state.includes('cart')" (click)="login.toggleOverlay()">
    <span>Or, Continue as Guest</span>
  </div>
</form>


