<div class="water-color-container">
  <div class="content-container">
    <div class="header-text">CREATE AN ACCOUNT</div>
    <div class="dots-short">
      <img ng-src="/images/dots-short.png"/>
    </div>
  </div>
</div>

<form name="login.registerForm"
      ng-submit="login.submitRegister()"
      novalidate
      class="login-form-container">

  <div class="submit-error" ng-show="login.registerError">
    {{ login.registerError }}
  </div>
  <div class="input-field">
    <input name="firstName"
           type="text"
           ng-model="login.register.firstName"
           class="form-box"
           placeholder="First Name"
           validate-name
           maxLength="25"
           ng-maxlength="25"
           required/>
    <div ng-messages="login.registerForm.firstName.$touched && login.registerForm.firstName.$error" role="alert">
      <ng-messages-include src="/views/login/login-errors.html"></ng-messages-include>
    </div>
  </div>

  <div class="input-field">
    <input name="lastName"
           type="text"
           ng-model="login.register.lastName"
           class="form-box"
           placeholder="Last Name"
           validate-name
           maxLength="25"
           ng-maxlength="25"
           required/>
    <div ng-messages="login.registerForm.lastName.$touched && login.registerForm.lastName.$error" role="alert">
      <ng-messages-include src="/views/login/login-errors.html"></ng-messages-include>
    </div>
  </div>

  <div class="input-field">
    <input name="emailAddress"
           type="email"
           ng-model="login.register.emailAddress"
           class="form-box"
           placeholder="Email Address"
           maxLength="40"
           ng-maxlength="40"
           email-validation
           required/>
    <div ng-messages="login.registerForm.emailAddress.$touched && login.registerForm.emailAddress.$error" role="alert">
      <ng-messages-include src="/views/login/login-errors.html"></ng-messages-include>
    </div>
  </div>

  <div class="input-field">
    <input name="emailConfirm"
           ng-model="login.register.emailConfirm"
           class="form-box"
           placeholder="Confirm Email Address"
           confirm-input="login.register.emailAddress"
           maxLength="40"
           ng-maxlength="40"
           email-validation
           required/>
    <div ng-messages="login.registerForm.emailConfirm.$touched && login.registerForm.emailConfirm.$error" role="alert">
      <ng-messages-include src="/views/login/login-errors.html"></ng-messages-include>
      <div class="input-error" ng-message="confirmInput">Emails must match</div>
    </div>
  </div>

  <div class="input-field">
    <input name="password"
           type="password"
           ng-model="login.register.password"
           class="form-box"
           placeholder="Password"
           strong-password
           maxLength="25"
           ng-maxlength="25"
           autocomplete="off"
           required/>
    <div ng-messages="login.registerForm.password.$touched && login.registerForm.password.$error" role="alert">
      <ng-messages-include src="/views/login/login-errors.html"></ng-messages-include>
    </div>
  </div>

  <div class="input-field">
    <input name="passwordConfirm"
           type="password"
           ng-model="login.register.passwordConfirm"
           class="form-box"
           placeholder="Confirm Password"
           confirm-input="login.register.password"
           maxLength="25"
           ng-maxlength="25"
           autocomplete="off"
           required/>
    <div ng-messages="login.registerForm.passwordConfirm.$touched && login.registerForm.passwordConfirm.$error"
         role="alert">
      <ng-messages-include src="/views/login/login-errors.html"></ng-messages-include>
      <div class="input-error" ng-message="confirmInput">Passwords must match</div>
    </div>
  </div>

  <div>
    <input type="checkbox" ng-model="login.promoCheckbox">
    Opt-in for Promotional Emails
  </div>
  <div class="button-container">
    <div class="spinner-shade" ng-show="login.loadingTracker.active()"></div>
    <button type="submit"
            ng-disabled="login.registerForm.$invalid || login.registerForm.$pending || login.disableSubmit"
            class="basic-button secondary-font">Register
    </button>
  </div>

</form>
<!-- Log in Text -->
<div class="center-text">
  <span>Already have an account?</span>
  <a class="primary-link secondary-font"
     ng-click="login.toggleView()">Log In</a>
</div>
